<footer>
    <section>
        <main id="fnav">
            <mat-list>
                <mat-list-item>
                    <a href="/home" routerLink="home" routerLinkActive="active">Home</a>
                </mat-list-item>
                <mat-list-item>
                    <a href="/create" routerLink="create" routerLinkActive="active">Create</a>
                </mat-list-item>
                <mat-list-item>
                    <a href="/edit" routerLink="edit" routerLinkActive="active">Edit</a>
                </mat-list-item>
            </mat-list>
        </main>
    </section>
    <section>
        <main>
            <p>Created By: Iñaki Fernández</p>
        </main>
    </section>
</footer>
