@import '../../../scss/_utilities/variables';
@import '../../../scss/_utilities/mixins';
.mat-form-field{
    width: 100%;
}

#submit{
    display: flex;
    justify-content: space-evenly;
}

@include respond-to(human){
    .mat-form-field{
        width: 75%;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@include respond-to(orc){
  
}

@include respond-to(giant){

}